<!DOCTYPE html>
<html lang="de">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Corona Scare Level Map</title>
    </head>
    <body>
        <h1>Corona Scare Level Map</h1>

        <div class="flight-types">
            <input type="radio" name="flight-type" value="World" id="World" />
            <label for="World">
            World
            </label>
            <input type="radio" name="flight-type" value="Switzerland" id="Switzerland" checked />
            <label for="business">
            Switzerland
            </label>
         </div>

        <iframe title="Corona Scare Map" aria-label="Map" id="datawrapper-chart-7nMGn" src="https://datawrapper.dwcdn.net/7nMGn/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 80% !important; border: none;" height="undefined"></iframe>
        <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();</script>
        
        <h2>Upload Data</h2>
        <form action = "http://localhost:5000/upload" method = "POST" 
            enctype = "multipart/form-data">
            <input type = "file" name = "file" />
         <input type = "submit"/>
        </form>
    </body>
</html>
