<!DOCTYPE html>
<html lang="de">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Corona Scare Level Map</title>
    </head>
    <body>
        <h1>Corona Scare Level Map</h1>
        <p class="subtitle">Ratio of News Articles Related to Covid-19 vs. Total Number of Articles</p>


        <div class="btn-group btn-group-sm d-block text-center" role="group" aria-label="Regions">
            <a role="button" href="{{ url_for('world') }}" class="btn btn-cstm">World</a>
            <a role="button" href="{{ url_for('switzerland') }}" class="btn btn-cstm-active">Switzerland</a>
        </div>

        <div style="text-align:center" class="mt-4">
            <iframe title="Corona Scare Map" aria-label="Map" id="datawrapper-chart-{{MAP_ID}}" src="https://datawrapper.dwcdn.net/{{MAP_ID}}/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 80% !important; border: none;" height="undefined"></iframe>
            <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();
            </script>
            </div>
            
       
        <div class="upload-group" style="text-align: center;">
            <div style="display: inline-block; text-align: left;">
            <h2>Upload Data</h2>
            <p>Please select one or several .csv files containing news articles data. <br>
                Upload and processing might take several minutes depending on file size.</p>
            <form action = "{{ url_for('upload_csv_ch') }}" method = "POST" 
                enctype = "multipart/form-data">
                <input type = "file" name = "file"  multiple=""/>
                <input type = "submit"/>
            </form>
            </div>
            </div>
    </body>
</html>